// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #F3663F;
$green: #1EDD88;

// Gray scale
$black: #000000;
$down-black: #191919;
$dark-gray: #393939;
$up-gray: #666666;
$gray: #8F8F8F;
$down-gray: #ADADAD;
$light-gray: #CBCED1;
$up-white: #F5F5F5;
$white: #FFFFFF;

$gold: #DCC469;
$footer: #F7F7F7;
