// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #F95738;
$green: #1EDD88;

$black: #000000;
$dark-gray: #0E0000;
$middle-gray: #858585;
$light-gray: #F4F4F4;
$white: #FFFFFF;

$gold: #DCC469;
