.section-menu {
  background-color: #ECF0F3;
  min-height: 100vh;
}
.wrapper-menu {
  max-width: 900px;
  margin: 2rem auto;
  padding: 1rem 1rem 2rem 1rem;
  background-color: none;
  border-radius: 14px;
  box-shadow: 13px 13px 20px #CBCED1,
              -13px -13px 20px #FFFFFF;
}
.nav-link,
.nav-pills {
  color: $down-black;
  text-decoration: none;
  :hover {
    color: $gold;
    cursor: pointer;
  }
}
.menu-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card-menu {
  display: block;
  position: relative;
  margin: 0.25rem;
  padding: 1.2rem 0.8rem;
  width: 23.125rem;
  height: 5.5rem;
  background-color: none;
  border: none;
  border-radius: 8px;
  box-shadow: inset 5px 5px 9px #CBCED1,
              inset -5px -5px 9px #FFFFFF;
}
.card-content {
  position: absolute;
  top: .8rem;
  left: .8rem;
}
.card-content p {
  color: $dark-gray;
  line-height: 1.2;
  font-weight: normal;
}
.card-price {
  position: absolute;
  right: .8rem;
  bottom: .2rem;
  text-align: end;
  font-weight: 600;
  color: $dark-gray;
}
small.tab {
  color: $gray;
  font-style: italic;
  font-weight: 200;
}

