<section class="section-reservation">
  <div class="reservation-create">
    <div class="thai-roof"></div>
    <div class="text-center my-3">
      <h1><%= t('reservation.create.greeting') %></h1>
    </div>
      <p class="title-subheader"><%= t('reservation.create.subtitle') %></p>
      <br>
    </div>
    <div class="text-center">
      <a class="home-link" href="/"><%= t('link.home') %></a>
    </div>
  </div>
</section>
