<div class="banner" style="padding: 100px 15px 20px 15px; background-color: #DCC469; text-align: center; color: black">
  <h4>VACANCES D'HIVER</h4>
  <P>Le restaurant sera fermé du 24 décembre au 2 janvier inclus. <br>
  Toute l'équipe de Thaï Artisans vous souhaite de bonnes fêtes de fin d'années !</P>
</div>
