<div class="banner" style="padding: 100px 15px 20px 15px; background-color: #DCC469; text-align: center; color: black">
  <h4>Fêtes de fin d'année</h4>
  <P>Le restaurant sera fermé du 23 décembre au 1er janvier inclus. <br>
  Toute l'équipe de Thaï Artisans vous souhaite de bonnes fêtes de fin d'annnée !</P>
</div>
