<div class="container-opening">
  <h1>PROCHAINEMENT OUVERTURE</h1>
  <div class="address">
    <i class="fas fa-map-marker-alt"></i>
    <P>46 Route de Chancy, 1213 Onex</P>
  </div>
  <div class="countdown">
    <div class="container-day">
      <h3 class="day">Time</h3>
      <h3>Jrs</h3>
    </div>
    <div class="container-hour">
      <h3 class="hour">Time</h3>
      <h3>Hrs</h3>
    </div>
    <div class="container-minute">
      <h3 class="minute">Time</h3>
      <h3>Min</h3>
    </div>
    <div class="container-second">
      <h3 class="second">Time</h3>
      <h3>Sec</h3>
    </div>
  </div>
  <%= image_tag('ta-brand')%>
  <div class="reservation">
    <p>Réservation: contact@thai-artisans.ch</p>
  </div>
</div>
