<div class="container-mentions">
  <div class="legales-wrapper">
    <div class="mentions-title text-center">
      <h1>MENTIONS LÉGALES</h1>
    </div>
    <div class="mentions-text text-justify">
      <p>
        Thaï Artisans<br>
        CHE-115.381.415 <br>
      </p>
      <br>
      <p>
        Route de Chancy 56<br>
        CH-1213 Onex
      </p>
      <br>
      <p>
        Tél: +41.22.792.XXXX <br>
        Mail: contact@thai-artisans.ch
      </p>
      <br>
      <p>
        Directrice: Mme Jitludda XXXXXXX<br>
        Design & Conception Web: M. Benoit Bessiere
      </p>
      <br>
      <p>Malgré tout le soin apporté dans la réalisation du Site et à son actualisation régulière, des erreurs peuvent s'être glissées dans les informations et/ou documents présentés. Thaï Artisans fait tout son possible pour veiller à l'exactitude et à la véracité des renseignements contenus dans le Site. Les Utilisateurs du Site procéderont néanmoins à toutes vérifications utiles et doivent considérer que les données qui apparaissent sur le Site sont ainsi fournies à titre d'information. Les informations et illustrations figurant sur le Site n'ont donc pas de valeur contractuelle et n'engagent pas la responsabilité de La Table des Artisans vis-à-vis des Utilisateurs. Elles ne peuvent être utilisées pour contredire une quelconque disposition contractuelle existante ou à venir entre la société Thaï Artisans et l'Utilisateur. La société Thaï Artisans se réserve le droit de modifier, à tout moment et sans préavis, le contenu du Site.</p>
    </div>
    <br>
    <br>
    <div class="text-center">
      <%= link_to 'RETOUR', root_path, class: "btn-legales" %>
    </div>
  </div>
</div>

