<div class="container-mentions">
  <div class="legales-wrapper">
    <div class="mentions-title text-center">
      <h1>POLITIQUE DE CONFIDENTIALITÉ</h1>
    </div>
    <div class="mentions-text text-justify">
      <p>
        Politique de Confidentialité & Protection des données personnelles appliquées par Thaï Artisans
      </p>
      <br>
      <h3>1 - Description</h3>
      <p>
        Thaï Artisans est un site vitrine destiné: <br>
        * aux Particuliers à la recherche d'information sur les prestations proposées,  <br>
        * aux Partenaires (entreprises, institutions publiques, associations, particuliers) et potentiels partenaires de Thaï Artisans. <br>
        La finalité du site www.thai-artisans.ch est de fournir une information claire et sincère quant à l’ensemble des activités de Thaï Artisans.
      </p>
      <h3>2 - Responsable du traitement des données</h3>
      <p>
        M. Benoit Bessiere <br>
        e-mail : contact@thai-artisans.ch
      </p>
      <h3>3 - Méthodes de collecte des données personnelles</h3>
      <p>
        Au cours de votre visite sur le site www.thai-artisans.ch, des données personnelles vous concernant pourront être recueillies ou traitées par Thaï Artisans.
      </p>
      <h4>Formulaire de Réservation</h4>
      <p>
        En cas de demande de réservation, vous serez invité(e) à remplir un formulaire dont les informations collectées sont uniquement destinées à nous permettre de mieux répondre à votre demande.
      </p>
      <h4>Cookies</h4>
      <p>
        Au cours de votre visite sur notre site www.thai-artisans.ch, Il est possible que nous déposions sur votre ordinateur un « cookie ». Un cookie est un petit bout de code envoyé par un serveur Internet qui s'enregistre sur votre ordinateur; il permet de garder la trace du site Internet que vous avez visité, et contient un certain nombre de données sur cette visite. <br>
        Les cookies nous permettent notamment: <br>
        - de favoriser l’amélioration générale et l’ergonomie de notre site, de reconnaître votre appareil lors de chacune de vos visites sur le site www.tabledesartisans.ch afin de faciliter votre expérience utilisateur, <br>
        - de filtrer les robots, techniques de fraude et autres scripts malicieux générant du trafic illégitime sur les contenus disponibles sur le site. <br>
        Pour rappel, la plupart des navigateurs permettent de supprimer ou désactiver les cookies si vous le désirez. Ces options se trouvent généralement dans les préférences, paramètres ou autres menus de confidentialité de votre navigateur Internet.
      </p>
      <h3>4 - Informations collectées</h3>
      <p>
        Les informations collectées sont les suivantes: <br>
        - Données générales et techniques propres à votre visite sur le site (source de trafic, système d’exploitation, navigateur et type d’équipement utilisé, pays et ville de connexion via votre adresse IP, institution via laquelle vous accédez à nos services, etc.), <br>
        - Toute information que vous nous avez donnée volontairement, en remplissant notre formulaire de réservation.
      </p>
      <p>
        Outre les finalités reprises au paragraphe concernant les cookies, les données vous concernant sont recueillies et traitées aux seules fins mentionnées ci-dessous: <br>
        - Enregistrement d'une réservation à Thaï Artisans.
        - Etablissement de devis personnalisé répondant aux besoins exprimés dans le formulaire de contact. <br>
        - Réalisation de statistiques à destination de notre société. <br>
        La technologie évoluant chaque jour, Thaï Artisans pourrait être amené à effectuer des traitements qui ne sont pas encore prévus dans cette Charte Vie Privée. Dans ce cas, nous vous contacterons avant de réutiliser vos données, afin de vous faire connaître les changements du règlement et vous donner la possibilité, le cas échéant, de refuser cette réutilisation.
      </p>
      <h3>5 - Consentement</h3>
      <p>
        En utilisant notre site www.tabledesartisans.ch,  vous déclarez explicitement accepter la politique de respect de la vie privée de Thaï Artisans, et vous consentez à ce que nous recueillons et traitons les données vous concernant selon les modalités et principes décrits dans cette charte.
      </p>
      <h3>6 - Transmission aux tiers</h3>
      <p>
        Vos données ne seront transmises à aucun tiers sans votre consentement. <br>
        Toutefois, nous nous réservons le droit de divulguer des informations personnelles sur requête d'une autorité légale ou en toute bonne foi en considérant que cette action est requise: <br>
        - Pour se conformer à toute loi ou réglementation en vigueur, <br>
        - Pour protéger ou défendre les droits ou les biens de Thaï Artisans, du site www.tabledesartisans.ch ou des utilisateurs de ce dernier, <br>
        - Pour intervenir, dans des circonstances extrêmes, dans le but de protéger la sécurité personnelle des utilisateurs de Thaï Artisans, du site ou du public.
      </p>
      <h3>7 - Droit d'accès et de rectification</h3>
      <p>
        Conformément à la loi fédérale sur la Protection des Données du 19 juin 1992 (LPD) et au Règlement Général sur la Protection des Données de l'Union européenne (RGPD) entré en vigueur le 25 mai 2018, il vous est toujours possible de nous contacter afin de vérifier l’état des données vous concernant. Nous vous les communiquerons dans les meilleurs délais, après un contrôle de votre identité. <br>
        En cas de données erronées, inexactes ou incomplètes, vous pourrez évidemment nous demander de rectifier ces informations. De même, si vous estimez que notre site ne respecte pas la réglementation sur la protection de la vie privée, vous pouvez nous contacter.
      </p>
      <h3>8 - Sécurité</h3>
      <p>
        Thaï Artisans s'engage à faire le maximum d’efforts pour protéger vos données à caractère personnel, afin notamment d'empêcher qu'elles soient déformées, endommagées ou communiquées à des tiers non autorisés.
      </p>
      <h3>9 - RGPD</h3>
      <p>
        Thaï Artisans s’engage à respecter le Règlement Général sur la Protection des Données et s'investit dans une démarche globale de mise en conformité RGPD soutenue par Thaï Artisans.
      </p>
    </div>
    <br>
    <br>
    <div class="text-center">
      <%= link_to 'RETOUR', root_path, class: "btn-legales" %>
    </div>
  </div>
</div>


