<div class="section-welcome reservation-create">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="title-header text-center mt-5">
          <h3><%= t('reservation.create.greeting') %></h3>
        </div>
        <br>
        <div class="title-subheader text-center text-muted">
          <p class="title-subheader"><%= t('reservation.create.subtitle') %></p>
          <br>
        </div>
        <div class="text-center">
          <a class="home-link" href="/"><%= t('link.home') %></a>
        </div>
      </div>
    </div>
  </div>
</div>
