<div class="section-errors">
  <div class="error">
  </div>
    <div class="error-content">
      <h1>LOOKS LIKE AN ERROR 404 !</h1>
      <%= link_to 'RETOUR', root_path, class:'btn-error' %>
    </div>
</div>
