.section-errors {
  background-color: $black;
  height: 100vh;
  border: 5px solid $gold;
}
.error {
  background-image: image-url('thai-errors.webp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 70vh;
}
.error-content {
  display: grid;
  place-content: center;
  height: 30vh;
}
.error-content h1 {
  font-size: 20px;
  color: $gold;
  font-weight: bold;
}
.btn-error {
  border: 2px solid $light-gray;
  border-radius: 50px;
  background-color: $black;
  color: $white;
  text-align: center;
  margin-bottom: 20px;
  padding: 1rem 2rem;
}
a.btn-error {
  text-decoration: none;
}
a.btn-error:hover {
  text-decoration: none;
  color: $white;
}
