footer {
  background-attachment: fixed;
  background-color: $down-black;
  color: $footer;
  z-index: initial;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-header {
  display: block;
  text-align: center;
  padding: 70px 0px 40px 0px;
}
.footer-header img {
  margin-bottom: 3rem;
}
.icone-info {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 25px;
}
.icone-info i {
  margin-right: 1rem;
  color: $footer;
}
.icone-info p {
  margin-bottom: 0px;
}
p.left {
  text-align: left;
}
.footer-links {
  display: flex;
  flex-flow: row-reverse;
  justify-content: center;
  column-gap: 15rem;
}
.links-title p {
  margin-bottom: 0px;
}
hr.lign {
  margin-top: .5rem;
  margin-bottom: 1rem;
  width: 50px;
  color: $gold;
  height: 3px;
  opacity: 1;
}
.links-media,
.links-site,
.links-mentions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.links-list-online {
  display: flex;
  justify-content: flex-start;
}
.social-link {
  margin: 0 .5rem;
  color: $footer;
}
.social-link:hover {
  margin: 0 .5rem;
  color: $gold;
}
.links-list ul {
  padding-left: 0px;
}
.links-list li {
  list-style: none;
}
.footer-link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  color: $footer;
}
.footer-link:hover {
  font-weight: bold;
  color: $white;
}
.copyright {
  text-align: center;
  padding: 2rem 0;
}
.copyright p {
  font-size: 12px;
  color: $gray;
}

