.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  color: $gold;
  background: $down-black;
  padding: 0px 30px;
  z-index: 1000;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

#brand {
  font-family: 'Gruppo', cursive;
  font-size: 2rem;
  color: $gold;
}

.navbar-nav a.nav-link {
  color: $gold;
  padding-left: 2rem !important;
  font-size: 18px;
}

a#navbarDropdown.dropdown-toggle {
  color: #161623;
}

a.nav-link.dropdown-item {
  color: #074E81;
  text-decoration: none;
  text-align: center;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-menu {
  position: absolute;
  top: 90px;
  right: 30px;
  width: 100px;
}


#navbarNavAltMarkup {

}

