.navbar {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  color: $gold;
  background: $down-black;
  z-index: 1000;
}
.navbar .navbar-collapse {
  flex-grow: 0;
}
a.navbar-brand {
  display:flex;
  align-items: baseline;
  padding-left: 2rem;
}
.navbar-brand > img {
  height: 30px;
}
#brand {
  font-family: 'Gruppo', cursive;
  font-size: 1.5rem;
  color: $gold;
}
.navbar-nav {
  background-color: $down-black;
}
.navbar-nav a.nav-link {
  color: $gold;
  padding-left: 2rem !important;
  font-size: 16px;
  background-color: $down-black;
}
a#navbarDropdown.dropdown-toggle {
  color: $gold;
}
a.nav-link.dropdown-item {
  color: #074E81;
  text-decoration: none;
  text-align: center;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown-menu {
  position: absolute;
  top: 90px;
  right: 30px;
  width: 100px;
}
.fa-bars {
  color: $gold;
  margin-right: 2rem;
}

@media(max-width: 992px) {
  #language {
    width: fit-content;
    padding-left: 2rem;
  }
  a.nav-link:hover {
    color: $down-black;
    background-color: $gold;
  }
  button.navbar-toggler:focus {
    box-shadow: none;
  }
}


